body, h1, h2, p, div, span, li, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333340;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
}

h1 {
    text-transform: uppercase;
}


.SearchBox {
    border: none;
    border-radius: 0px;
    padding: 5px 0;
    width: 100%;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 2em;
    outline: none;
}

.Result {
    margin: 5px 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.1);
    border-top-right-radius: 10px;
    padding: 4px 10px;
}


.RemoveButton {
    float: right;
    cursor: pointer;
}

.SmallButton {
    cursor: pointer;
    font-size: 0.8em;
}


@media only screen and (max-width: 999px) {
    .Info {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    
    .Search {
        position: absolute;
        top: 60px;
        left: 10px;
        width: 120px;
    }
        
    .Selected {
        position: absolute;
        right: 10px;
        top: 40px;
        width: 120px;
    }
}

@media screen and (min-width: 1000px) {

    .Info {
        position: absolute;
        top: 100px;
        left: 50px;
    }
    
    .Search {
        position: absolute;
        top: 180px;
        left: 50px;
        width: 200px;
    }
        
    .Selected {
        position: absolute;
        right: 50px;
        top: 180px;
        width: 200px;
    }
}